@import '../import';

.sectionsList{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
}