@import "../import";

.homeSectionContainer {
  padding: $section-padding-mobile 0;

  @media screen and (min-width: 768px) {
    padding: $section-padding-tablet 0;
  }
  @media screen and (min-width: 1024px) {
    width: 47%;
    padding: $section-padding-desktop 0;
  }

  .header {
    display:flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin-left: 20px;
      margin-right: 0;

      span {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .footer {
    display:flex;
    justify-content: space-between;

    a {
      text-align: right;
      margin-left: 1rem;
      white-space: nowrap;
    }
  }
}

.homeSectionContainer:nth-of-type(even) {
  .header {
    flex-direction: row-reverse;
    h2 {
      margin-right: 20px;
      margin-left: 0;
    }
  }
}

@media (hover:hover) and (min-width: 1024px){
  .homeSectionContainer {
    &:hover{
      svg {
        width: 160px;
        height: 160px;
        path {
          fill: $tertiary-color;
        }
      }
      .header {
        h2 {
          span {
            color: $tertiary-color;
          }
        }
      }
    }
  }
}