@import '../import';

.navigationContainer{
    position: fixed;
    top: 0;
    right: -100%;
    transition: right .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 2;
    .notNavigation{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: calc(100% - 280px);
        @media screen and (min-width: 768px) {
            width: calc(100% - 350px);
        }
    }
    .navigation{
        position: absolute;
        top: 0;
        right: 0;
        width: 280px;
        height: 100vh;
        z-index: 2;
        background-color: $primary-color;
        color: $secondary-color;
        border-left: .5px solid $fourth-color;
        padding: $general-padding;
        @media screen and (min-width: 768px) {
            padding: $desktop-padding;
            width: 350px;
        }
        .menu{
            margin-top: 5px;
            justify-content: flex-end;
            @include burger-menu;
        }
        .linksContainer{
            width: 100%;
            margin-top: 4rem;
            color: $secondary-color;
            .linkContainer{
                .link{
                    position: relative;
                    margin-bottom: 3rem;
                    width: 100%;
                    div:last-of-type, div:last-of-type span{
                        text-align: right;
                        font-size: 1.2rem;
                        letter-spacing: 1px;
                        text-transform: capitalize;
                        padding: 0;
                        @media screen and (min-width: 768px) {
                            font-size: 1.6rem;
                        }
                    }
                    div:first-of-type{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: initial ;
                        height: initial ;
                        min-width: initial ;
                        @media screen and (min-width: 768px) {
                            top: -5px;
                        }
                        svg, svg *{
                            width: 20px ;
                            height: 20px ;
                            min-width: 20px ;
                            @media screen and (min-width: 768px) {
                                width: 30px;
                                height: 30px;
                                min-width: 30px;
                            }
                            path{
                                transition: fill .3s ease-in-out;
                                fill: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
    }
    &.displayed{
        right: 0;
    }
}


@media (hover:hover) and (min-width: 768px){
    .navigation{
        .linksContainer{
            .linkContainer{
                .link{
                    &:hover{
                        div:first-of-type{
                            svg{
                                path{
                                    fill: $tertiary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}