$primary-color: #101820;
$secondary-color: #FFFDFA;
$tertiary-color: #FEE715;
$fourth-color: #F3F3F3;
$primary-color-light: rgba(16,24,32,.5);
$secondary-color-light: rgba(255,253,250,.57);

$general-padding: 2rem;
$general-top-space: 102px;
$general-bottom-space: 84px;
$desktop-padding: 3rem;
$desktop-top-space: 134px;
$desktop-bottom-space: 116px;

@mixin burger-menu {
    display: flex;
    .burger{
        svg{
            width: 25px;
            height: 25px;
            rect{
                transition: fill .5s ease-in-out;
            }
        }
        &:hover, &.active{
            svg{
                rect:nth-of-type(2n){
                    fill: $tertiary-color;
                }
            }
        }
    }
}